html {
    font-size: 22px;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
a {
    color: rgb(81, 141, 193);
}

a:visited {
    color: rgb(19, 1, 1);
}

a:hover, a:active {
    color: #ca4d4d;
}

table, tr, th, td, caption {
    border: 2px solid #0a0101;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}